<header>
  <nav class="flex items-center justify-between gap-4">
    <a href="/">
      <img
        src="https://res.cloudinary.com/yehez/image/upload/v1710488562/og/anuyyuvxnjynumvmqorp.png"
        alt="logo-image"
        aria-hidden="true"
        class="w-8 h-8"
      />
    </a>
    <h5>Yehezkiel Gunawan's Links</h5>
  </nav>
  <hr class="bg-black h-0.5" />
</header>
