---
import "../global.css";
import Navbar from "components/Navbar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://res.cloudinary.com/yehez/image/upload/v1710488562/og/anuyyuvxnjynumvmqorp.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
  <footer class="mt-8">
    <hr class="bg-black h-0.5" />
    <a href="https://yehezgun.com"
      >{
        new Date().toLocaleDateString("en-GB", {
          year: "numeric",
        })
      } | Yehezkiel Gunawan</a
    >
  </footer>
</html>
